<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
   
   <!-- Layout -->
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <Property name="TEST_LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p    %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    
    <!-- Appenders -->
    <Appenders>
        
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <!-- Rolling File Appender -->
        <!-- In the above RollingFile configuration, 
        I’ve specified a SizeBasedTriggeringPolicy which will roll 
        files over when the size reaches 10MB. -->
        <!-- DefaultRollOverStrategy specifies the number of log files to be kept -->
        <RollingFile name="FileAppender" fileName="logs/semanticIntegration-logs.log" 
		             filePattern="logs/semanticIntegration-logs-%d{yyyy-MM-dd}-%i.log">
		    <PatternLayout>
		        <Pattern>${LOG_PATTERN}</Pattern>
		    </PatternLayout>
		    <Policies>
		        <SizeBasedTriggeringPolicy size="10MB" />
		    </Policies>
		    <DefaultRolloverStrategy max="10"/>
		</RollingFile>
		
		
		<RollingFile name="TestLogsFileAppender" fileName="logs/semanticIntegration-test.log" 
		             filePattern="logs/semanticIntegration-test-logs-%d{yyyy-MM-dd}-%i.log">
		    <PatternLayout>
		        <Pattern>${TEST_LOG_PATTERN}</Pattern>
		    </PatternLayout>
		    <Policies>
		        <SizeBasedTriggeringPolicy size="10MB" />
		    </Policies>
		    <DefaultRolloverStrategy max="10"/>
		</RollingFile>
		
    </Appenders>
    
    <!-- Loggers: We use additivity to log only to appenders included here -->
    <!-- Alternatively we can make FileAppender -->
    <Loggers>
        <Logger name="com.links.tests" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="TestLogsFileAppender" />
        </Logger>
        
         <Logger name="com.links" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>